.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

@media (min-width: 600px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        justify-content: center;
    }
}
