.container {
    background: #283e54;
    padding: 20px;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
}

.loadButton {
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
}
